@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin:15px">Domain Search Page</h1>

    <div class="" style="background-color:white!important">

        <input id="domainName" placeholder=".com / .net / .org " class="form-control-lg" style="
    width: 75%;
">

        <a href="#" class="btnSearch btn btn-primary btn-lg" style="
    margin-top: -10px;
">Search</a>

        <textarea style="height: 492px;width: 84%;margin-top: 20px;margin-bottom: 0px;/* margin-left: -17px; */" spellcheck="false"></textarea>

        <a href="#" class="btn btn-warning " style="
    position: absolute;
    margin-top: 445px;
    margin-left: -141px;
">Add Favourite</a>





    </div>
</div>


@section Scripts{

    <script type="text/javascript">

        $(".btnSearch").click(function () {

            var DomainName = document.getElementById('domainName').value;
            if (DomainName.trim()) {
                $.post("Home/GetDomainInformation",
                    {
                        domain: DomainName
                    },
                    function (data, status) {
                        alert("Data: " + data + "\nStatus: " + status);
                    });
            }

        
        });
    </script>



}

