@model DomainSalesPortalWeb.Models.RegisterCustomerVM

@{
    ViewData["Title"] = "Register";
}
<link href="~/css/Login.css" rel="stylesheet" />
<h1>Register</h1>

<h4>Customer</h4>
<hr />


<div class="sidenav">
    <div class="login-main-text">
        <h2>Domain Sales Portal<br> Register Page</h2>
        <p>Register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">


       
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label"></label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                 
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-dark" />
                    </div>
                </form>
     


    </div>
</div>






<div>
    <a asp-action="Login">Login Page</a>
</div>

